body {
  display: flex;
  width: 1510px;
  margin: 50px auto;
  background-color: #f5f5fa;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 130px;

}

.sidebar .avatar {
  position: relative;
  width: 120px;
  height: 120px;
}

.sidebar .avatar .avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  overflow: hidden;
}

.sidebar .avatar img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.sidebar .avatar .emoji {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.sidebar .site-name {
  font-size: 18px;
  line-height: 34px;
  margin-top: 18px;
  font-weight: 700;
}

.sidebar .site-name a {
  color: #34495E;
}

.sidebar .site-description {
  font-size: 16px;
  color: #707070;
}

.sidebar .menu-social ul {
  display: flex;
  margin: 24px 0;
}

.sidebar .menu-social .icon {
  stroke-width: 1.2;
  color: #707070;
}

.sidebar .menu-social li {
  padding-right: 10px;
}

.sidebar .main-menu ul {
  display: flex;
  flex-direction: column;
  height: 562px;
}

.sidebar .main-menu a {
  display: flex;
  color: #707070;
  font-size: 14px;
  line-height: 20px;
}

.sidebar .main-menu .icon {
  width: 20px;
  height: 20px;
  stroke-width: 1.3;
  margin-right: 40px;
}

.sidebar .main-menu span {
  display: block;
  line-height: 20px;
}

.sidebar .main-menu li {
  margin-bottom: 28px;
}

.sidebar .main-menu .dark {
  margin-bottom: 0;
  margin-top: auto;
}

.sidebar .main-menu li .active {
  color: #34495E;
  font-weight: 700;
}

.content-area {
  flex: 1;
  margin-left: 136px;
  padding: 0 8px 0 30px;
  background-color: #f5f5fa;
  overflow-y: auto;
}

#dynamic-content .home {
  display: flex;
}

.post-card .post li {
  width: 922px;
  height: 458px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 40px;
}

.post-card .img {
  height: 250px;
}

.post-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 关键属性：覆盖整个区域，可能裁剪边缘 */
}

.post-card .text {
  padding: 30px;
}

.post-card .text .categories a {
  margin-top: 4px;
  border-radius: 5px;
  background-color: #2a9d8f;
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  color: #fff;
  margin-right: 12px;
}

.post-card .text h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 700;
}

.post-card .text h3 {
  font-size: 20px;
  color: #747474;
  margin-bottom: 16px;
}

.post-card .text .edit-time {
  display: flex;
  height: 20px;
  line-height: 20px;
  color: #767676;
}

.post-card .text .edit-time .icon {
  width: 20px;
  height: 20px;
  stroke-width: 1.2;
  margin-right: 16px;
}

.post-card .text .edit-time .time {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}

.post-card .nav {
  border-radius: 10px;
  overflow: hidden;
}

.post-card .nav ul {
  display: flex;
  background-color: #fff;
}

.post-card .nav a {
  display: inline-block;
  padding: 16px 32px;
  font-size: 16px;
  color: #747474;
}

.post-card .nav .active {
  background-color: #eaeaea;
  font-weight: 700;
  color: #000000;
}

.home .right {
  position: fixed;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 960px;
  margin-right: 100px;
}

.home .right .search {
  display: flex;
  border-radius: 10px;
  background-color: #fff;
  padding: 8px 20px 12px;
}

.home .right .search .left {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.home .right .search .left span {
  font-size: 13px;
  color: #767676;
}

.home .right .search .left input {
  width: 270px;
  font-size: 15px;
  border: 0;
}


.home .right .search .svg .icon {
  margin-top: 12px;
  width: 20px;
  height: 20px;
  stroke-width: 1.2;
  color: #747474;
}

.home .right .col {
  margin-top: 40px;
}

.home .right .col .svg {
  display: flex;
}

.home .right .col .icon {
  width: 32px;
  height: 32px;
  color: #707070;
  stroke-width: 1.5;
}

.home .right .col .title {
  color: #707070;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.home .right .col .columns {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
}

.home .right .col .columns li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.home .right .col .columns li:last-child {
  border-bottom: 0;
}

.home .right .col .columns a {
  display: flex;
  font-size: 14px;
  padding: 16px 24px;
}

.home .right .col .columns a .year {
  flex: 1;
  font-weight: 800;
}

.home .right .col .columns a .count {
  justify-content: flex-end;
  color: #707070;
}

.home .right .cate {
  margin-top: 40px;
}

.home .right .cate .svg {
  display: flex;
}

.home .right .cate .icon {
  width: 32px;
  height: 32px;
  color: #707070;
  stroke-width: 1.5;
}

.home .right .cate .title {
  color: #707070;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.home .right .cate ul {
  display: flex;
  flex-wrap: wrap;
}


.home .right .cate li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.home .right .cate .tag a {
  display: block;
  font-size: 14px;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
}

.content-area .rooter {
  margin-top: 30px;
}

.content-area .rooter .cut {
  display: block;
  width: 50px;
  border-top: 3px solid #707070;
  margin-bottom: 20px;
}

.content-area .rooter .copy-right {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #34495E;
  margin-bottom: -10px;
}

.content-area .rooter .design {
  color: #707070;
}

.about {
  background-color: #fff;
  margin-right: 6px;
  border-radius: 10px;
  margin-left: -4px;
}

.about .article-header {
  padding: 26px;
}

.about .article-header .title h2 {
  font-size: 24px;
  font-weight: 700;
}

.about .article-content {
  all: initial;
  /* 清除所有继承和非继承样式，包括 12px 字体 */
  font-size: 16px;
  /* 恢复浏览器默认基准字体大小 */
  display: block;
  /* initial 会变成 inline，须手动改回块级 */
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #333;
  /* 根据设计补回文字颜色 */
  line-height: 1.5;
  /* 可调整行高 */
  padding: 0 30px;
}

.about .article-content * {
  all: revert;

}

.about .article-content h1,
.about .article-content h2,
.about .article-content h3,
.about .article-content h4,
.about .article-content h5,
.about .article-content h6 {
  margin-left: -30px;
  padding-left: 30px;
  box-shadow: inset 4px 0 0 0 #000;
}

.about .article-content hr {
  border: none;
  height: 4px;
  /* 线条粗细 = 高度 */
  background-color: #767676;
  margin: 40px 0;
}

.about .blog-rooter {
  margin-top: 24px;
  display: flex;
  padding: 0 30px 30px;
}

.about .blog-rooter .icon {
  width: 20px;
  height: 20px;
  stroke-width: 1.2;
  color: #767676;
}

.about .blog-rooter span {
  margin-left: 14px;
  font-size: 14px;
  line-height: 20px;
  color: #767676;
}