body {
  display: flex;
  width: 1510px;
  margin: 50px auto;
  background-color: #f5f5fa;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 130px;
}

.sidebar .avatar {
  position: relative;
  width: 120px;
  height: 120px;
}

.sidebar .avatar .avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  overflow: hidden;
}

.sidebar .avatar img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.sidebar .avatar .emoji {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.sidebar .site-name {
  font-size: 18px;
  line-height: 34px;
  margin-top: 18px;
  font-weight: 700;
}

.sidebar .site-name a {
  color: #34495E;
}

.sidebar .site-description {
  font-size: 16px;
  color: #707070;
}

.sidebar .menu-social ul {
  display: flex;
  margin: 24px 0;
}

.sidebar .menu-social .icon {
  stroke-width: 1.2;
  color: #707070;
}

.sidebar .menu-social li {
  padding-right: 10px;
}

.sidebar .main-menu ul {
  display: flex;
  flex-direction: column;
  height: 562px;
}

.sidebar .main-menu a {
  display: flex;
  color: #707070;
  font-size: 14px;
  line-height: 20px;
}

.sidebar .main-menu .icon {
  width: 20px;
  height: 20px;
  stroke-width: 1.3;
  margin-right: 40px;
}

.sidebar .main-menu span {
  display: block;
  line-height: 20px;
}

.sidebar .main-menu li {
  margin-bottom: 28px;
}

.sidebar .main-menu .dark {
  margin-bottom: 0;
  margin-top: auto;
}

.sidebar .main-menu li .active {
  color: #34495E;
  font-weight: 700;
}

.content-area {
  flex: 1;
  margin-left: 136px;
  padding: 0 8px 0 30px;
  background-color: #f5f5fa;
  overflow-y: auto;
}

#dynamic-content .home {
  display: flex;
}

.post-card li {
  width: 922px;
  height: 458px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 40px;
}

.post-card .img {
  height: 250px;
}

.post-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 关键属性：覆盖整个区域，可能裁剪边缘 */
}

.post-card .text {
  padding: 30px;
}

.post-card .text .categories a {
  margin-top: 4px;
  border-radius: 5px;
  background-color: #2a9d8f;
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  color: #fff;
  margin-right: 12px;
}

.post-card .text h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 700;
}

.post-card .text h3 {
  font-size: 20px;
  color: #747474;
  margin-bottom: 16px;
}

.post-card .text .edit-time {
  display: flex;
  height: 20px;
  line-height: 20px;
  color: #767676;
}

.post-card .text .edit-time .icon {
  width: 20px;
  height: 20px;
  stroke-width: 1.2;
  margin-right: 16px;
}

.post-card .text .edit-time .time {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}

.home .right {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 40px;
}

.home .right .search {
  display: flex;
  border-radius: 10px;
  background-color: #fff;
  padding: 8px 20px 12px;
}

.home .right .search .left span {
  display: block;
  width: 250px;
  font-size: 13px;
  color: #767676;
}

.home .right .search .left input {
  width: 270px;
  font-size: 15px;
  border: 0;
}

.home .right .search .right {
  flex: 1;
  text-align: center;
}

.home .right .search .right a {
  margin-top: 12px;
}

.home .right .search .right .icon {
  width: 20px;
  height: 20px;
  stroke-width: 1.2;
  color: #747474;
}